@media (max-width: 992px) {
    .author {
        display: none;
    }
}

.subTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

@media (max-width: 1200px) {
    .subTitle {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

@media only screen and (max-width: 992px) {
    .subTitle {
        display: none;
    }
}

@media (max-width: 1200px) {
    .title {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.link {
    color: black;
}
