.editor {
    font-family: sans-serif;
    text-align: center;
}

.ql-toolbar.ql-snow {
    border: none;
}

.ql-container.ql-snow{
    border: none;
    height: 100vh;
}

.btn-primary {
    background-color: #26FFDF;
    color: black;   
    border-color: #26FFDF;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: #ffffff !important;
    background-color: #1F2838 !important;
    border-color: #494F57 !important;
}

